<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>admin</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Age</td>
        <td>Username (login)</td>
        <td>Roles</td>
    </tr>
    </thead>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getSurname()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td th:utext="${user.getUsername()}"></td>
        <td>
            <span th:each="role, i : ${user.getRoles()}">
                <span th:utext="${role.getTitle()}"></span>
                <span th:unless="${i.last}">, </span>
            </span>
        </td>
        <td>
            <form th:method="GET" th:action="@{/admin/edit/{id}(id=${user.getId()})}">
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
<br>
<a th:href="@{/admin/add}">Add User</a>
<br>
<a th:href="@{/logout}">Logout</a>
</body>
</html>