<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Admin Page</title>
</head>
<style>
    .bg-gray {
        background: #efefef;
    }
</style>
<body>

<div class="container-fluid bg-dark">
    <nav class="nav d-flex justify-content-between">
        <div class="navbar-text text-white">
            <span class="fw-bold" th:utext="${authUser.getUsername()}"></span>
            <span>with roles: </span>
            <span th:each="role, i : ${authUser.getRoles()}">
                <span th:utext="${role.getTitle().replace('ROLE_', '')}"></span>
            </span>
        </div>
        <a href="#" class="navbar-text text-decoration-none text-white-50" th:href="@{/logout}">Logout</a>
    </nav>
</div>

<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-2 p-0 mt-2">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link rounded-0 active" th:href="@{/admin}">Admin</a>
            </nav>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link rounded-0" th:href="@{/user}">User</a>
            </nav>
        </div>
        <div class="col bg-gray px-4">
            <h1 class="mt-2">Admin panel</h1>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#users-tab-pane"
                            type="button" role="tab" aria-controls="users-tab-pane" aria-selected="true">Users table
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="newUsers-tab" data-bs-toggle="tab" data-bs-target="#newUsers-tab-pane"
                            type="button" role="tab" aria-controls="newUsers-tab-pane" aria-selected="false">New User
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="users-tab-pane" role="tabpanel" aria-labelledby="users-tab">
                    <div class="card">
                        <div class="card-header">
                            <span>All users</span>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <td>
                                        <span class="fw-bold">ID</span>
                                    </td>
                                    <td>
                                        <span class="fw-bold">Name</span>
                                    </td>
                                    <td>
                                        <span class="fw-bold">Surname</span>
                                    </td>
                                    <td>
                                        <span class="fw-bold">Age</span>
                                    </td>
                                    <td>
                                        <span class="fw-bold">Username</span>
                                    </td>
                                    <td>
                                        <span class="fw-bold">Role</span>
                                    </td>
                                    <td>
                                        <span class="fw-bold">Edit</span>
                                    </td>
                                    <td>
                                        <span class="fw-bold">Delete</span>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:utext="${user.getId()}"></td>
                                    <td th:utext="${user.getName()}"></td>
                                    <td th:utext="${user.getSurname()}"></td>
                                    <td th:utext="${user.getAge()}"></td>
                                    <td th:utext="${user.getUsername()}"></td>
                                    <td>
                                <span th:each="role, i : ${user.getRoles()}">
                                    <span th:utext="${role.getTitle().replace('ROLE_', '')}"></span>
                                </span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                th:data-bs-target="${'#editModal' + user.getId()}">
                                            Edit
                                        </button>
                                        <div class="modal fade" th:id="${'editModal' + user.getId()}"
                                             tabindex="-1"
                                             aria-labelledby="editModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="editModalLabel">Edit user</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body text-center d-flex justify-content-center">
                                                        <form th:method="PATCH"
                                                              th:action="@{/admin/edit/{id}(id=${user.getId()})}"
                                                              th:object="${user}" th:id="${'edit' + user.getId()}">
                                                            <div class="mb-3">
                                                                <label for="editId"
                                                                       class="form-label fw-bold">ID</label>
                                                                <input type="number" class="form-control"
                                                                       name="id" th:value="*{id}"
                                                                       id="editId" disabled>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editName"
                                                                       class="form-label fw-bold">Name</label>
                                                                <input type="text" class="form-control"
                                                                       name="name" th:value="*{name}"
                                                                       id="editName">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editSurname"
                                                                       class="form-label fw-bold">Surname</label>
                                                                <input type="text" class="form-control"
                                                                       name="surname" th:value="*{surname}"
                                                                       id="editSurname">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editAge"
                                                                       class="form-label fw-bold">Age</label>
                                                                <input type="number" class="form-control"
                                                                       name="age" th:value="*{age}"
                                                                       id="editAge">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editUsername"
                                                                       class="form-label fw-bold">Username
                                                                </label>
                                                                <input type="text" class="form-control"
                                                                       name="username" th:value="*{username}"
                                                                       id="editUsername">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editPassword"
                                                                       class="form-label fw-bold">Password</label>
                                                                <input type="password" class="form-control"
                                                                       name="password" th:value="*{password}"
                                                                       id="editPassword">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editRoles"
                                                                       class="form-label fw-bold">Role</label>
                                                                <select class="form-select" multiple id="editRoles"
                                                                        name="roles">
                                                                    <option th:each="role : ${roles}"
                                                                            th:selected="${role.getTitle()}"
                                                                            th:value="${role.getId()}"
                                                                            th:utext="${role.getTitle()}"></option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary" th:form="${'edit' + user.getId()}">Edit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                th:data-bs-target="${'#deleteModal' + user.getId()}">
                                            Delete
                                        </button>
                                        <div class="modal fade" th:id="${'deleteModal' + user.getId()}"
                                             tabindex="-1"
                                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="deleteModalLabel">Edit user</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body text-center d-flex justify-content-center">
                                                        <form th:method="DELETE"
                                                              th:action="@{/admin/delete/{id}(id=${user.getId()})}"
                                                              th:object="${user}" th:id="${'delete' + user.getId()}">
                                                            <div class="mb-3">
                                                                <label for="deleteId"
                                                                       class="form-label fw-bold">ID</label>
                                                                <input type="number" class="form-control"
                                                                       name="id" th:value="*{id}"
                                                                       id="deleteId" disabled>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="deleteName"
                                                                       class="form-label fw-bold">Name</label>
                                                                <input type="text" class="form-control"
                                                                       name="name" th:value="*{name}"
                                                                       id="deleteName" disabled>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="deleteSurname"
                                                                       class="form-label fw-bold">Surname</label>
                                                                <input type="text" class="form-control"
                                                                       name="surname" th:value="*{surname}"
                                                                       id="deleteSurname" disabled>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="deleteAge"
                                                                       class="form-label fw-bold">Age</label>
                                                                <input type="number" class="form-control"
                                                                       name="age" th:value="*{age}"
                                                                       id="deleteAge" disabled>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="deleteUsername"
                                                                       class="form-label fw-bold">Username
                                                                </label>
                                                                <input type="text" class="form-control"
                                                                       name="username" th:value="*{username}"
                                                                       id="deleteUsername" disabled>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="deleteRoles"
                                                                       class="form-label fw-bold">Role</label>
                                                                <select class="form-select" multiple id="deleteRoles"
                                                                        name="roles" disabled>
                                                                    <option th:each="role : ${roles}"
                                                                            th:value="${role.getId()}"
                                                                            th:utext="${role.getTitle()}"></option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit" class="btn btn-danger" th:form="${'delete' + user.getId()}">Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="newUsers-tab-pane" role="tabpanel" aria-labelledby="newUsers-tab">
                    <div class="card">
                        <div class="card-header">
                            <span>Add new user</span>
                        </div>
                        <div class="card-body">
                            <div class="text-center d-flex justify-content-center">
                                <form th:method="POST"
                                      th:action="@{/admin/add/}"
                                      th:object="${newUser}">
                                    <div class="mb-3">
                                        <label for="newName"
                                               class="form-label fw-bold">Name</label>
                                        <input type="text" class="form-control"
                                               name="name" th:value="*{name}"
                                               id="newName">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newSurname"
                                               class="form-label fw-bold">Surname</label>
                                        <input type="text" class="form-control"
                                               name="surname" th:value="*{surname}"
                                               id="newSurname">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newAge"
                                               class="form-label fw-bold">Age</label>
                                        <input type="number" class="form-control"
                                               name="age" th:value="*{age}"
                                               id="newAge">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newUsername"
                                               class="form-label fw-bold">Username
                                        </label>
                                        <input type="text" class="form-control"
                                               name="username" th:value="*{username}"
                                               id="newUsername">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newPassword"
                                               class="form-label fw-bold">Password</label>
                                        <input type="password" class="form-control"
                                               name="password" th:value="*{password}"
                                               id="newPassword">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newRoles"
                                               class="form-label fw-bold">Role</label>
                                        <select class="form-select" multiple id="newRoles"
                                                name="roles">
                                            <option th:each="role : ${roles}"
                                                    th:selected="${role.getTitle()}"
                                                    th:value="${role.getId()}"
                                                    th:utext="${role.getTitle()}"></option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>